.jumbotron{
  background-color:#0A79DF;
  color:floralwhite;
}
.footer{
  background-color: #d1c4e9;
  margin:20px auto;
  padding:20px 0px;
}
.head1{
  margin:0 ;
  padding-top:40px;
  padding-bottom:40px;
}
.navbar{
margin-bottom: 0px

}
